.main-container {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px;
}

.header-a {
  padding-top: 20px;
  padding-bottom: 20px;
}

.alink {
  /* background-color: red; */
  font-size: 14px;
  font-weight: 600;
}

.alink {
  color: black;
}

.nav-link {
  color: black !important;
}

.alink ul {
  float: left;
}

.nav-container .start {
  font-weight: 600;
  color: black;
}

.navbar-nav > li {
  padding-left: 35px;
  padding-right: 35px;
}

.start {
  border-radius: 9px;
  border-width: 0.1em;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  margin-left: 30px;
}

.start:hover {
  color: white;
}

.brand {
  font-weight: bolder;
}

.content {
  margin-top: 0px;
}

.talk {
  padding-top: 40px;
}

.talk > h1 {
  font-size: 60px !important;
  font-weight: bold;
  color: black;
}

.no-bold {
  font-weight: 100;
}

.bold-two {
  font-weight: 200;
}

.bold-three {
  font-weight: 300;
}

.bold-four {
  font-weight: 400;
}

.showcase-img {
  background-image: url("../images/lock.png");
  background-repeat: no-repeat;
  background-size: contain;
  float: right;
  clear: right;
  height: 20rem;
  margin-top: 60px;
}

@media only screen and (max-width: 1026px) {
  .showcase-img {
    display: none;
  }
}

.start-two {
  background-color: #372f7f;
  color: white;
  margin-left: 0;
  font-weight: 600;
}

.det-ails {
  margin-top: 50px;
  padding-top: 70px;
  padding-bottom: 70px;
}

.icon-bra-ails {
  padding-bottom: 30px;
}

.icon-ails {
  color: #3f3d56 !important;
  font-size: 40px;
}

.footer {
  color: white;
  text-align: center;
  background-color: #212529;
  padding-top: 25px;
  color: white;
  position: absolute;
  bottom: 0;
  height: 100px;
  width: 100%;
}

.author {
  text-decoration: none !important;
}
